/* 
Project Name: Electro 2.0 Ecommerce Website
Description: A complete responsive e-commerce website design
             by using HTML CSS and JavaScript from scratch.
Author: Md Al Amin Hossen
Github: https://github.com/MdRasen
License: MIT License
Copyright: 2023 ©MdRasen
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
    --bg-200: #d10024;
    --bg-100: #15161d;
    --bg-50: #1e1f29;
    --text-200: #2b2d42;
    --text-100: #d10024;
    --text-50: #8d99ae;
}

/* Global CSS Start */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

::before,
::after {
    box-sizing: border-box;
}

.section-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.section-top .section-title {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--text-200);
}

.section-top .sub-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.section-top .sub-menu ul li {
    padding: 0 10px;
}

.section-top .sub-menu ul li a {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-50);
    position: relative;
}

.section-top .sub-menu ul li a.active,
.section-top .sub-menu ul li a:hover {
    color: var(--text-100)
}

.section-top .sub-menu ul li a.active::after {
    width: 100%;
    height: 3px;
    background: var(--bg-200);
    left: 0;
    bottom: -6px;
}

.section-top .sub-menu ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--bg-200);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.section-top .sub-menu ul li a:hover::after {
    width: 100%;
}

.swiper-slide {
    border: 1px solid var(--text-50);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .details_box {
    text-align: center;
    margin: 10px 5px;
}

.swiper-slide .details_box .category {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-200);
}

.details_box .product-name {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-200);
}

.details_box .price {
    padding: 5px 0;
}

.details_box .price .new-price {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-100);
}

.details_box .price .old-price {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-2000);
    text-decoration: line-through;
}

.details_box .rating ul {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.details_box .rating ul li {
    list-style: none;
    padding: 0 2px;
}

.details_box .rating ul li i {
    color: var(--bg-200);
    font-size: 12px;
}

.details_box .features ul {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.details_box .features ul li {
    list-style: none;
    padding: 0 5px;
}

.details_box .features ul li a {
    font-size: 18px;
    color: var(--bg-100);
}

.details_box .add-cart .btn {
    margin: 20px 0;
    width: 70%;
    background: rgb(230, 10, 65);
    border: none;
    outline: none;
    color: white;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px
}

/* Global CSS End */

/* Header Section Start */
.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-50);
    padding: 10px 6%;
}

.header-top ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-top ul li {
    padding: 0 10px;
}

.header-top ul li a {
    color: #fff;
    font-size: 12px;
}

.header-top ul li a:hover {
    color: var(--text-100);
}

.header-top ul li a i {
    color: var(--text-100);
    padding-right: 5px;
}

.header-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-100);
    padding: 15px 6%;
    font-size: 16px;
    color: #fff;
    border-bottom: 3px solid var(--bg-200);
}

.header-body .search-form {
    flex-basis: 50%;
    text-align: center;
}

.header-body .search-form select {
    width: 130px;
    height: 40px;
    padding: 10px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: -4px;
}

.header-body .search-form input {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    margin-right: -4px;
    border-left: 1px solid var(--bg-50);
}

.header-body .search-form button {
    width: 80px;
    height: 42px;
    font-size: 14px;
    font-weight: 600;
    background: var(--bg-200);
    color: #fff;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.header-body .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-body .options .wishlist,
.header-body .options .cart {
    position: relative;
}

.header-body .options a {
    color: #fff;
}

.header-body .options .wishlist-num {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    right: 25px;
    background: var(--bg-200);
    font-size: 10px;
    padding: 2px;
    border-radius: 50%;
}

.header-body .options .cart-num {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    background: var(--bg-200);
    font-size: 10px;
    padding: 2px;
    border-radius: 50%;
}

.header-body .options i {
    font-size: 18px;
}

.header-body .options div {
    padding: 0 15px;
    font-size: 13px;
}

.nav-bars span {
    height: 3px;
    width: 35px;
    background: var(--bg-200);
    display: inline-block;
    position: relative;
}

.nav-bars span::before {
    content: "";
    height: 3px;
    width: 35px;
    background: var(--bg-200);
    position: absolute;
    top: -10px;
    left: 0;
}

.nav-bars span::after {
    content: "";
    height: 3px;
    width: 35px;
    background: var(--bg-200);
    position: absolute;
    top: 10px;
    left: 0;
}

.header-body .nav-bars {
    display: none;
}

.header-bottom {
    padding: 15px 6%;
    border-bottom: 1px solid #2b2d425d;
}

.header-bottom ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.header-bottom ul li {
    list-style: none;
    padding-right: 25px;
}

.header-bottom ul li a {
    color: var(--text-200);
    font-weight: 500;
    font-size: 16px;
    position: relative;
}

.header-bottom ul li a.active,
.header-bottom ul li a:hover {
    color: var(--text-100)
}

.header-bottom ul li a.active::after {
    width: 100%;
    height: 3px;
    background: var(--bg-200);
    left: 0;
    bottom: -6px;
}

.header-bottom ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--bg-200);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.header-bottom ul li a:hover::after {
    width: 100%;
}

/* Header Section End */

/* Category Section Start */

.category-section {
    padding: 40px 6%;
}

.category-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.category-section .row .category {
    flex-basis: 32%;
    background: var(--text-50);
    position: relative;
    overflow: hidden;
}

.category-section .row .category:hover img {
    transform: scale(1.1);
}

.category-section .row .category img {
    width: 100%;
    transition: transform 0.3s;
}

.category-section .row .category .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-200);
    opacity: 0.9;
    left: 0;
    bottom: 0;
    transform: rotate(35deg) translateX(-350px) scale(1.8);
}

.category-section .row .category .layer-text {
    width: 200px;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top: 0;
    padding: 40px 20px;
    text-align: left;
}

.category-section .row .category .layer-text h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
}

.category-section .row .category .layer-text a {
    text-decoration: none;
    font-size: 12px;
    padding-top: 20px;
    color: #fff;
}

/* Category Section End */

/* Trending Section Start */
.trending-section {
    padding: 20px 6%;
}

/* Trending Section End */

/* Banner Section Start */
.banner-section {
    background-image: url(../assets/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 530px;
    margin: 40px 0;
}

.banner-section .banner-contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-contents .count-down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff
}

.banner-contents .count-down li {
    list-style: none;
    background: var(--bg-200);
    margin: 0 8px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-contents .title {
    padding: 40px 0 10px;
    font-size: 30px;
    color: var(--text-200);
}

.banner-contents .sub-title {
    padding-bottom: 15px;
    font-size: 24px;
    color: var(--text-200);
}

.banner-contents .btn {
    margin: 20px 0;
    background: var(--bg-200);
    border: none;
    outline: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
}

/* Banner Section End */

/* Top Selling Section Start */
.top-selling-section {
    padding: 20px 6%;
}

/* Top Selling Section End */

/* Newsletter Section Start */
.newsletter-section {
    padding: 60px 6%;
    margin: 40px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 2px solid var(--text-50);
}

.newsletter-section .text {
    font-size: 24px;
    color: var(--text-200);
    font-weight: 400;
    padding-bottom: 20px;
}

.newsletter-section .text span {
    font-size: 26px;
    font-weight: 600;
}

.newsletter-section form input {
    width: 350px;
    height: 40px;
    padding: 10px;
    background: #fff;
    color: var(--text-200);
    border: 1px solid var(--text-50);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: -5px;
}

.newsletter-section form input:hover {
    border: 2px solid var(--text-200);
}

.newsletter-section form button {
    width: 130px;
    height: 42px;
    font-size: 14px;
    font-weight: 600;
    background: var(--bg-200);
    color: #fff;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.newsletter-section .social-icons {
    padding: 40px 0 0;
}

.newsletter-section .social-icons a {
    text-decoration: none;
    border: 0.2px solid var(--bg-50);
    padding: 8px 10px;
    margin: 0 4px;
    color: var(--bg-100);
    border-radius: 5px;
}

.newsletter-section .social-icons a:hover {
    border: 0.2px solid var(--bg-200);
    color: var(--text-100);
}

/* Newsletter Section End */

/* Footer section Start */
.footer-top {
    background: var(--bg-50);
    padding: 30px 6%;
    color: var(--text-50);
    border-top: 3px solid var(--bg-200);
}

.footer-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-contents .col {
    flex-basis: 24%;
    width: 100%;
    padding: 10px;
}

.footer-contents .col p {
    font-size: 14px;
    padding: 5px 0;
}

.footer-contents .col .head-title h2 {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.footer-contents .col ul li {
    list-style: none;
    padding: 3px 0;
}

.footer-contents .col ul li .active {
    color: var(--text-100);
    margin-left: 5px;
}

.footer-contents .col ul li a {
    text-decoration: none;
    color: var(--text-50);
    font-size: 16px;
}

.footer-contents .col ul li a:hover {
    color: var(--text-100);
}

.footer-bottom {
    background: var(--text-200);
    padding: 20px 8% 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--text-50);
}

.footer-bottom .payment-method {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-bottom .payment-method li {
    list-style: none;
    margin: 0 5px;
    padding: 10px 0;
}

.footer-bottom .payment-method li i {
    color: var(--text-50);
    font-size: 30px;
    cursor: pointer;
}

.footer-bottom .copyright p {
    text-align: center;
    font-size: 20px;
}

.footer-bottom .copyright i {
    color: var(--bg-200);
}

.footer-bottom .copyright a {
    color: var(--text-50);
}

.footer-bottom .copyright a:hover {
    color: var(--text-100);
}

/* Footer section End */

/* Device Responsive Start */
@media (max-width: 1250px) {
    .header-body .search-form input {
        width: 220px;
    }

    .header-body .search-form button {
        width: 65px;
    }

    .category-section .row .category {
        flex-basis: 49%;
        width: 49%;
        margin-bottom: 30px;
    }

    .category-section .row .category .layer-text h3 {
        font-size: 35px;
        padding-bottom: 15px;
    }

    .category-section .row .category .layer-text a {
        font-size: 20px;
    }
}

@media (max-width: 990px) {
    .header-body .logo {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
    }

    .header-body .search-form {
        flex-basis: 60%;
        width: 60%;
        text-align: left;
    }

    .header-body .nav-bars {
        display: block;
    }

    .header-bottom ul {
        background-color: var(--bg-100);
        position: fixed;
        top: 0;
        left: -320px;
        width: 320px;
        height: 100vh;
        padding-top: 60px;
        z-index: 2;
        transition: left 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: start;
        border-bottom-right-radius: 100px;
    }

    .header-bottom ul li {
        display: block;
        padding: 20px 40px;
    }

    .header-bottom ul li a {
        color: white;
        font-size: 18px;
    }

    .header-bottom ul li span {
        position: fixed;
        top: 50px;
        left: 230px;
    }

    .header-bottom ul li span.close {
        display: none;
    }

    .header-bottom ul li span::before {
        content: "";
        height: 2px;
        width: 35px;
        background: var(--bg-200);
        position: absolute;
        left: 0;
        transform: rotate(45deg);
        top: 0;
    }

    .header-bottom ul li span::after {
        content: "";
        height: 2px;
        width: 35px;
        background: var(--bg-200);
        position: absolute;
        left: 0;
        transform: rotate(-45deg);
        top: 0;
    }

    .header-bottom ul li span.close {
        display: none;
    }

    .category-section .row .category {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 30px;
    }

    .category-section .row .category .layer-text h3 {
        padding-top: 30px;
        font-size: 50px;
    }

    .category-section .row .category .layer-text a {
        font-size: 22px;
    }

    .category-section .row .category .layer {
        transform: rotate(35deg) translateX(-700px) scale(1.8);
    }

    .footer-contents .col ul li .active i {
        display: inline;
    }
}

@media (max-width: 800px) {
    .header-body .search-form {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
    }

    .header-body .search-form input {
        width: 300px;
    }

    .header-body .search-form button {
        width: 80px;
    }

    .header-body .options {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .category-section .row .category .layer {
        transform: rotate(35deg) translateX(-500px) scale(1.8);
    }

    .section-top {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-top .section-title,
    .section-top .sub-menu {
        flex-basis: 100%;
        width: 100%;
        padding: 5px 0;
        font-size: 30px;
    }

    .section-top .sub-menu ul li {
        padding: 0;
        padding-right: 10px;
    }

    .banner-contents .count-down li {
        width: 90px;
        height: 90px;
    }

    .footer-contents .col {
        flex-basis: 49%;
        width: 49%;
    }
}

@media (max-width: 640px) {
    .header-body .search-form input {
        width: 250px;
    }

    .header-body .search-form button {
        width: 60px;
    }

    .category-section .row .category .layer-text h3 {
        font-size: 35px;
    }

    .category-section .row .category .layer-text a {
        font-size: 18px;
    }

    .category-section .row .category .layer {
        transform: rotate(35deg) translateX(-450px) scale(1.8);
    }

    .newsletter-section form input {
        width: 300px;
    }
}

@media (max-width: 540px) {
    .header-body .search-form input {
        width: 220px;
    }

    .category-section .row .category .layer-text h3 {
        font-size: 28px;
    }

    .category-section .row .category .layer-text a {
        font-size: 14px;
    }

    .category-section .row .category .layer {
        transform: rotate(35deg) translateX(-420px) scale(1.8);
    }
}

@media (max-width: 480px) {

    .header-top .left ul,
    .header-top .right ul {
        flex-basis: 100%;
        width: 100%;
    }

    .header-body .search-form input {
        width: 180px;
    }

    .category-section .row .category .layer {
        transform: rotate(35deg) translateX(-330px) scale(1.8);
    }

    .newsletter-section form input {
        width: 250px;
    }

    .footer-contents .col {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
    }

    .footer-bottom .copyright p {
        font-size: 16px;
    }
}

@media (max-width: 420px) {
    .header-body .search-form input {
        width: 140px;
    }

    .category-section .row .category .layer {
        transform: rotate(35deg) translateX(-300px) scale(1.8);
    }

    .banner-contents .count-down li {
        width: 80px;
        height: 80px;
    }

    .banner-contents .count-down li h3 {
        font-size: 18px;
    }

    .banner-contents .count-down li span {
        font-size: 14px;
    }

    .newsletter-section .text {
        font-size: 20px;
    }

    .newsletter-section .text span {
        font-size: 22px;
    }

    .newsletter-section form input {
        width: 200px;
    }
}

@media (max-width: 390px) {
    .header-body .search-form input {
        width: 120px;
    }

    .category-section .row .category .layer {
        transform: rotate(35deg) translateX(-270px) scale(1.8);
    }

    .banner-contents .count-down li {
        width: 70px;
        height: 70px;
    }

    .banner-contents .count-down li h3 {
        font-size: 16px;
    }

    .banner-contents .count-down li span {
        font-size: 12px;
    }

    .banner-contents .sub-title {
        font-size: 20px;
    }

    .newsletter-section form input {
        width: 180px;
    }
}

/* Device Responsive End */